@import url('modern-normalize/modern-normalize.css');
@import url('./button.css');
@import url('./input.css');
@import url('./userForm.css');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 0 50px;
}
